html {
  background: radial-gradient(#000, #111);
  color: white;
  height: 100%;
}

body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: lightblue;
}

table td{
	border: 1px solid green;
}

#updateLPanel{
    display: none;
}

#wrapper {
	position:relative;
}

fieldset {
	border:0;
	padding:0; margin:0;
}